{
    "dropout_rate": 0.1,
    "suffix": "snli_only_image_hypo",
    "NER_dim": 20,
    "highway_layer_num": 1,
    "with_match_highway": true,
    "optimize_type": "adam",
    "with_highway": true,
    "max_epochs": 10,
    "with_aggregation_highway": true,
    "with_filter_layer": false,
    "lex_decompsition_dim": -1,
    "aggregation_layer_num": 1,
    "max_char_per_word": 10,
    "wo_maxpool_match": false,
    "context_layer_num": 1,
    "wo_full_match": false,
    "lambda_l2": 0.0,
    "fix_word_vec": true,
    "wo_left_match": false,
    "with_NER": false,
    "aggregation_lstm_dim": 300,
    "context_lstm_dim": 100,
    "POS_dim": 20,
    "with_lex_decomposition": false,
    "learning_rate": 0.001,
    "with_POS": false,
    "wo_right_match": false,
    "MP_dim": 10,
    "max_sent_length": 100,
    "batch_size": 180,
    "wo_max_attentive_match": false,
    "wo_char": false,
    "wo_attentive_match": false,
    "char_emb_dim": 20,
    "with_img_full_match":true, 
    "with_img_maxpool_match":false,
    "with_img_attentive_match":true,
    "with_img_max_attentive_match":true,
    "image_context_layer" : false,
    "image_with_hypothesis_only": true,
    "img_dim":100,
    "char_lstm_dim": 100,
    "word_level_MP_dim": -1,
    "base_dir": "./snli",
    "model_dir" : "models",
    "with_dep" : false,
    "beginning": false,
    "with_image": true,
    "train_path": "../dataset/VSNLI_1.0_train.tsv",
    "test_path": "../dataset/VSNLI_1.0_test.tsv",
    "dev_path": "../dataset/VSNLI_1.0_dev.tsv",
    "word_vec_path" : "/users/ud2017/hoavt/nli/BiMPM/pre-wordvec/glove.840B.300d.txt",
    "SICK_test_path" : "/users/ud2017/hoavt/nli/BiMPM/src_image/datasets/SICK/VSICK2/VSICK2.tsv",
    "SICK_train_path" : "/users/ud2017/hoavt/nli/BiMPM/src_image/datasets/SICK/VSICK2/VSICK2_train.tsv",
    "SICK_dev_path" : "/users/ud2017/hoavt/nli/BiMPM/src_image/datasets/SICK/VSICK2/VSICK2_dev.tsv",    
    "decoding_only": false,
    "train" : "snli",
    "test" : "train"
}
